.form-section-title{
    margin-top: 2%;
}

.form-section{
    padding: 1%; 
    text-align: justify;
}

.tab-content{
    padding-bottom: 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoLight', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    color: #5ea2ba;
    font-weight: 300;
}