@font-face {
    font-family: 'OpenSans-Bold';
    src: url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
    src: url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('http://miv-aodfront-01.aragon.local:7030/static/public/fonts/OpenSans/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}