<!-- Error -->
<div class="container" *ngIf="errorTitle">
  <div class="alert alert-info" role="alert">
      <div class="row">
          <div class="col-xs-3">
              <i class="fa fa-exclamation-triangle fa-5x" style="margin:15px;color: #5ea2ba;"></i>
          </div>
          <div class="col-xs-9">
              <h1>{{errorTitle}}</h1>
              <h2>{{errorMessage}}</h2>
              <a class="mail" href="mailto:opendata@aragon.es">
                  <h2> <i class="fa fa-envelope"></i> Contactar con el Administrador</h2>
              </a>
          </div>
      </div>
  </div>
</div>

<!-- Loading -->
<div class="loading text-center" *ngIf="loading">
  <div class="loadingText" *ngIf="previewHistory">Cargando historia</div><br/><br/>
  <div class="loadingText" *ngIf="!previewHistory">Cargando...</div><br/><br/>
  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><br/><br/> 
</div>
<div class="loading loading-overlay" *ngIf="loadingModal">
  <div class="inner">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
  </div>
</div>

<!-- Formulario -->

<div *ngIf="!loading && !errorTitle">

  <div class="row title">
    <h2>Crear una nueva historia</h2>
  </div>
  
  <form [formGroup]="historyForm">
    <div class="row">
      <div class="col-md-12">
        <div class="tab-content">
          <div class="tab-pane active" id="content_tab" role="tabpanel">
            <!-- Titulo historia -->
            <div>                        
                <h4 class="form-section-title">Título *</h4>
                <p>
                    Por favor, escribe una denominación de la historia. El nombre que des a la historia es importante para que otros usuarios encuentren la información.
                </p>
                <input class="col-12 form-control" type="text" placeholder="Título" formControlName="title" [class.is-invalid]="invalidTitle" (keyup.enter)="saltaCampo($event, 'category')">
                <small *ngIf="invalidTitle" class="text-danger">Campo Obligatorio</small>
            </div>
  
            <!-- Descripcion historia -->
            <div>
              <h4 class="form-section-title">Descripción</h4>
              <p>
                La descripción es la primera aproximación de un usuario a tu conjunto de datos, así que se debería comenzar contando brevemente
                qué contiene el mismo. Si el conjunto de datos contiene informaciones parciales, limitaciones o deficiencias este
                es el lugar en el que puedes mencionarlas de forma que los usuarios puedan saber el alcance de la información. En
                algunos casos los usuarios ayudan a mejorar la información, así que no desaproveches la oportunidad de acercarles
                la realidad del dato.
              </p>
              <angular-tinymce id="editor" [settings]="settings" formControlName="description"></angular-tinymce>
            </div>
  
            <!-- Categorias historia -->
            <!-- Categoria primaria -->
            <div>
              <h4 class="form-section-title">Categorización</h4>
              <p>
                Por favor, introduce un listado de etiquetas que describan el contenido de tu conjunto de datos. Utiliza palabras comunes
                para describirlo. A poder ser utiliza palabras de las que te sugiere el formulario, ya que son categorías que ya están siendo
                utilizadas.
              </p>
              
              <div class="group">
                <h6>Categoría principal</h6>
                <select class="form-control select-cat1" formControlName="category" id="category"  (change)="onChangePrimaryCategory($event)">
                  <option  *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                </select>
              </div>
              
              <div class="group">
                <h6>Categorías secundarias</h6>
  
                <div class="btn-group select-cat2" dropdown> 
                  <button id="button-cat2" dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle">
                    Seleccione las categorias <span class="caret"></span>
                  </button>
                  <div id="dropdown-cat2" *dropdownMenu class="dropdown-menu">
                    <div class="form-check" *ngFor="let category of secondCategories" (click)="getCategoriesSelected($event, category)">
                      <label *ngIf="!category.selectedPrincipal" class="container">
                        <span class="checkmark" [ngClass]="{'selected': category.selected}"></span>
                        {{category.name}}
                      </label>
                    </div>
                  </div>
                </div>
  
                <div class="cat-selected">
                  <ng-container *ngFor="let category of secondCategories">
                    <div class="tag" *ngIf="category.selected">
                      <span>{{category.name}}</span>
                    </div>
                  </ng-container>
                </div>
              </div> 
              
            </div>

            <!-- Lista de contenidos -->
            <div class="contents-select" *ngIf="contents && contents.length > 0">
              <h4 class="form-section-title">Contenidos</h4>
              <div *ngFor="let content of contents; let i = index">
                <i class="fa fa-edit" (click)="editContent(content,i)"></i>
                <i class="fa fa-trash" (click)="deleteContent(content)"></i>
                <p><span>Titulo: </span>{{content.title}} </p>
              </div>
            </div> 
  
            <!-- Add content -->
            <button *ngIf="!showAddContent" class="btn-add-content btn btn-outline-secondary" type="button" (click)="addNewContent()">
              <i class="fa fa-plus"></i> Añadir contenido
            </button>
  
            <div #newContentElement *ngIf="showAddContent">
              <div class="card card-body">
                <app-edit-content [content]="contentToEdit" [posContent]="posToEdit" (contentCreate)="newContent($event)" (closeContent)="closeNewContent()" (changeContent)="changeContent($event)"></app-edit-content>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
    <div class="actions" *ngIf="!loadingModal">
        <button *ngIf="( isAdmin ||  (!isAdmin && (historyBack.state == stateEnum.borrador || historyBack.state == stateEnum.publicada)))" class="btn btn-outline-primary" [ngClass]="historyForm.invalid ? 'disabled' : '' " (click)=getPreviewHistory()> Previsualizar</button>
        <button #btnSave *ngIf="( isAdmin ||  (!isAdmin && (historyBack.state == stateEnum.borrador)))"  id="btnSaveHistory" type="button" class="btn btn-outline-primary" [ngClass]="historyForm.invalid ? 'disabled' : '' " data-toggle="modal" (click)="getHistoryForm(btnSave, true)"> Guardar historia</button>       
        <button #btnRevision *ngIf="(!isAdmin && (historyBack.state == stateEnum.borrador))" id="btnSendRevision" type="button" class="btn btn-primary" [ngClass]="historyForm.invalid ? 'disabled' : ''" (click)="getHistoryForm(btnRevision, true)" >Enviar a revisión</button>
        <button #btnPublicar *ngIf="(isAdmin &&  (historyBack.state == stateEnum.revision))" id="btnSendPublicar" type="button" class="btn btn-primary" [ngClass]="(historyForm.invalid || (!saved && this.isModified)) ? 'disabled' : ''" (click)="getHistoryForm(btnPublicar, true)" >Publicar</button>
        <button #btnVersionar *ngIf="(!isAdmin && (historyBack.state == stateEnum.publicada))" id="btnSendVersionar" type="button" class="btn btn-primary" [ngClass]="historyForm.invalid ? 'disabled' : ''" (click)="getHistoryForm(btnVersionar, true)" >Enviar a revision</button>
    </div>
  </form>
  
  <!-- Modal Email -->
  <!--<div class="modal fade" id="emailModalCenter" tabindex="-1" role="dialog" aria-labelledby="emailModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="emailModalCenterTitle">Introduce tu Email:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="emailForm">
          <div class="modal-body">
            <input type="text" class="form-control" placeholder="Email" [class.is-invalid]="invalidEmail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,}$" formControlName="email" (keyup.enter)="saveMailForm()">
            <small *ngIf="invalidEmail" class="text-danger">Introduzca un email válido</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" [ngClass]="emailForm.invalid ? 'disabled' : '' " (click)="saveMailForm()">Continuar</button>
          </div>
        </form>
      </div>
    </div>
  </div>-->

  <!-- Modal Successfull History -->
  <div class="modal fade successfullModal" id="successfullModalCenter" tabindex="-1" role="dialog" aria-labelledby="successfullModalCenterTitle" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="historyBack.state != stateEnum.publicada" id="successfullModalCenterTitle">¡Historia guardada correctamente!</h5>
          <h5 class="modal-title" *ngIf="historyBack.state == stateEnum.publicada" id="successfullModalCenterTitle">¡Historia publicada correctamente!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="viewHistory()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf=firstTime>
            <p *ngIf="historyBack.state == stateEnum.borrador">Su historia {{historyModel.title}}, se ha guardado correctamente con el siguiente token. Apúntelo para poder gestionar la historia</p>
            <p *ngIf="historyBack.state == stateEnum.revision">Su historia {{historyModel.title}}, se ha enviado correctamente para su revisión con el siguiente token.</p>
            <div class="tokenSite col-12">
              <textarea readonly #tokenGenerate class="tokenTextArea">{{historyModel.token}}</textarea>
              <button type="button" class="btn fa fa-copy" (click)="copyToken()"></button>
            </div>
              <div class="modal-header">
                <h6 class="modal-title" id="emailModalCenterTitle">¿Desea realizar un seguimiento de la historia?</h6>
              </div>
              <form [formGroup]="emailForm">
                <div class="modal-body">
                  <p>Puede dejar su correo para ser notificado cuando se produzcan algunos cambios en el estado de su historia o si desea recibir el token en su correo electrónico</p>

                  <input type="text" class="form-control" placeholder="Email" [class.is-invalid]="invalidEmail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,}$" formControlName="email" (keyup.enter)="saveMailForm()">
                  <small *ngIf="invalidEmail" class="text-danger">Introduzca un email válido</small>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" [ngClass]="emailForm.invalid ? 'disabled' : '' " (click)="saveMailForm()">Enviar</button>
                </div>
              </form>
          </div>
          <div *ngIf=!firstTime>
            <p *ngIf="historyBack.state == stateEnum.borrador">Su historia {{historyModel.title}}, se ha guardado correctamente</p>
            <p *ngIf="historyBack.state == stateEnum.revision">Su historia {{historyModel.title}}, se ha enviado correctamente</p>
            <p *ngIf="historyBack.state == stateEnum.publicada">La historia {{historyModel.title}} ha sido publicada</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Error History -->
  <div class="modal fade errorModal" id="errorModalCenter" tabindex="-1" role="dialog" aria-labelledby="errorModalCenterTitle" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="(isAdmin || (historyBack.state != stateEnum.revision))"class="modal-title" id="errorModalCenterTitle">Se ha producido un error</h5>
          <h5 *ngIf="(!isAdmin && (historyBack.state == stateEnum.revision))"class="modal-title" id="errorModalCenterTitle">Operación no permitida</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p *ngIf="(isAdmin || (historyBack.state != stateEnum.revision))">Se ha producido un error al procesar la acción solicitada</p>
          <p *ngIf="(!isAdmin && (historyBack.state == stateEnum.revision))"> Una vez que la historia ha sido enviada a aprobación, no se pueden hacer nuevas modificaciones</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Save Changes -->
  <!--<div class="modal fade errorModal" id="saveModalCenter" tabindex="-1" role="dialog" aria-labelledby="errorModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalCenterTitle">No ha guardado los cambios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p >Asegurese de guardar los cambios efectuados antes de publicar la historia.</p>
        </div>
      </div>
    </div>
  </div>-->

  <!-- Question Content Previous -->
  <div class="modal fade errorModal" id="questionContPrevious" tabindex="-1" role="dialog" aria-labelledby="questionContPreviousTitle" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="questionContPreviousTitle">Info contenido</h5>
        </div>
        <div class="modal-body">
          <p >Si edita el contenido, perderá los cambios del contenido que se está editando en este momento con título . ¿Desea continuar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="confirmEditContent(false)">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="confirmEditContent(true)">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Question History -->
  <div class="modal fade errorModal" id="questionDeleteContent" tabindex="-1" role="dialog" aria-labelledby="questionDeleteContentTitle" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="questionDeleteContentTitle">Borrar contenido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDeleteContentModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p *ngIf="showAddContent && !previousButton">Por favor, antes de eliminar un contenido, guarde o cierre el contenido que se está editando</p>
          <p *ngIf="!showAddContent && !previousButton">¿Está seguro que quiere eliminar el contenido? Una vez eliminado, no se podrá recuperar</p>
          <p *ngIf="previousButton">Si realiza esta acción, el contenido que está editando se perderá. ¿Desea continuar con la acción y perderlo o volver para guardar el mismo? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeDeleteContentModal()">Volver</button>
          <button *ngIf="!showAddContent  && !previousButton" type="button" class="btn btn-primary" (click)="confirmDeleteContent()">Confirmar</button>
          <button *ngIf="previousButton" type="button" class="btn btn-primary" (click)="getHistoryForm(null, false)">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

</div>



