<div class="container">

  <div class="row title">
		<div class="col-md-12">
			<h1>Crear historia</h1>
		</div>
  </div>
  <div class="row title">
    <div class="col-md-12">
			<h5>{{emailHistory}}</h5>
		</div>
  </div>
  
  <form [formGroup]="historyForm">
    <div class="row">
      <div class="col-md-12">
        <div class="tab-content">
          <!-- Content Tab -->
          <div class="tab-pane active" id="content_tab" role="tabpanel">
  
            <!-- Titulo historia -->
            <div>
                <h3 class="form-section-title">Título *</h3>
                <p>
                    Por favor, escribe una denominación de la historia. El nombre que des a la historia es importante para que otros usuarios encuentren la información.
                </p>
                <input class="col-12 form-control" type="text" placeholder="Título" formControlName="title" [class.is-invalid]="invalidTitle">
                <small *ngIf="invalidTitle" class="text-danger">Campo Obligatorio</small>
            </div>
  
            <!-- Descripcion historia -->
            <div>
              <h3 class="form-section-title">Descripción *</h3>
              <p>
                La descripción es la primera aproximación de un usuario a tu conjunto de datos, así que se debería comenzar contando brevemente
                qué contiene el mismo. Si el conjunto de datos contiene informaciones parciales, limitaciones o deficiencias este
                es el lugar en el que puedes mencionarlas de forma que los usuarios puedan saber el alcance de la información. En
                algunos casos los usuarios ayudan a mejorar la información, así que no desaproveches la oportunidad de acercarles
                la realidad del dato.
              </p>
              <textarea class="col-12 form-control" formControlName="description" rows="5" cols="150" placeholder="Descripción"></textarea>
            </div>
  
            <!-- Categoria historia -->
            <div>
              <h3 class="form-section-title">Categorías *</h3>
              <p>
                Por favor, introduce un listado de etiquetas que describan el contenido de tu conjunto de datos. Utiliza palabras comunes
                para describirlo. A poder ser utiliza palabras de las que te sugiere el formulario, ya que son categorías que ya están siendo
                utilizadas.
              </p>
              <select class="form-control" formControlName="category" >
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
              </select>
            </div>
  
            <!-- Lista de contenidos -->
            <div class="contents-select" *ngIf="contents && contents.length > 0">
              <h3 class="form-section-title">Contenido</h3>
              <div *ngFor="let content of contents">
                <p><span>Titulo: </span>{{content.title}} 
                  <span style="font-size: 20px; float: right; padding-left: 20px;">
                    <i class="fa fa-trash"></i>
                  </span>
                  <span style="font-size: 20px; float: right;">
                    <i class="fa fa-edit"></i>
                  </span>
                </p>
              </div>
            </div> 
  
            <!-- Add content -->
            <button class="btn-add-content btn btn-outline-secondary" type="button"  data-toggle="modal" data-target="#contentModalCenter">
              <i class="fa fa-plus"></i> Añadir contenido
            </button>

            <!-- Modal -->
            <div class="modal fade" id="contentModalCenter" tabindex="-1" role="dialog" aria-labelledby="contentModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="contentModalCenterTitle">Seleccione una opcion:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button #addContent class="btn btn-primary btn-block" data-dismiss="modal" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> 
                      Insertar gráfica
                    </button>
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" >Enlace externo</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <app-edit-content (contentCreate)="newContent($event)"></app-edit-content>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
    <div class="actions">
        <!--<button type="button" class="btn btn-primary" [ngClass]="historyForm.invalid ? 'disabled' : '' " data-toggle="modal" data-target="#emailModalCenter">Guardar historia</button>-->
        <button type="button" class="btn btn-primary" [ngClass]="historyForm.invalid ? 'disabled' : '' " data-toggle="modal" (click)=saveHistoryForm()> Guardar historia</button>
        <button type="button" class="btn btn-outline-primary" [ngClass]="historyForm.invalid ? 'disabled' : ''" (click)=saveHistoryForm() >Enviar a revisión</button>
    </div>
  </form>
</div>

<!-- Modal Email -->
<div class="modal fade" id="emailModalCenter" tabindex="-1" role="dialog" aria-labelledby="emailModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalCenterTitle">Introduce tu Email:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="emailForm">
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Email" [class.is-invalid]="invalidEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email">
          <small *ngIf="invalidEmail" class="text-danger">Introduzca un email válido</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [ngClass]="emailForm.invalid ? 'disabled' : '' " (click)="saveMailForm()">Continuar</button>
        </div>
      </form>
    </div>
  </div>
</div>
