#contendor-principal {
    margin-bottom: 10px;
    padding-top: 150px;
  }
  
  .cleanFloat {
    clear: both;
    width: 100%;
    padding-left: 20px;
  }
  

  .marginOpenData{
    max-width: 80vw;
    min-width: 320px;
    margin: auto;
    padding-right: 0;
  }