.visualTitle {
  font-family: RobotoLight, sans-serif;
  color: #5ea2ba;
}

.opendatamargin {
  max-width: 80vw;
  min-width: 320px;
  height: auto;
  margin-top: 20vh;
}

.focus{
  margin-top: 150px;
}
@media screen and (max-width: 768px) {
  .opendatamargin {
      margin-top: 10vh;
      max-width: 100vw;
  }
  .focus{
    margin-top: 125px;
  }
}


@media (max-width: 992px) {
  .opendatamargin {
    max-width: none;
  }
}
