<div class="def">
    <div *ngIf="chart!==undefined && !isMap" class="d-block">
        <div class="col-12">
            <h3 class="visualTitle">{{title}}
                <span style="float:right">
                    <img id="logo" width="200" class="img-fluid" src="/static/public/header/images/AOD-Logo.png">
                </span>
            </h3>
        </div>
        <div class="row mx-auto w-100">
            <div *ngIf="chart.type=='doughnut'" class="col-sm-12 col-xs-12 col-md-8 col-lg-8 mx-auto graph-donut-container" [ngClass]="(numberLegend>5)?'graph-donut-big-legend':'graph-donut-small-legend'">
                <canvas baseChart [datasets]="chart.data" [labels]="chart.labels" [options]="chartOptions" [colors]="chart.colors" [legend]="chartLegend"
                    [chartType]="chart.type">
                </canvas>
            </div>
            <div *ngIf="chart.type!='doughnut'" class="col-sm-12 col-xs-12 col-md-8 col-lg-8 mx-auto graph-container" [ngClass]="(numberLegend>5)?'graph-big-legend':'graph-small-legend'">
                <canvas baseChart [datasets]="chart.data" [labels]="chart.labels" [options]="chartOptions" [colors]="chart.colors" [legend]="chartLegend"
                    [chartType]="chart.type">
                </canvas>
            </div>
        </div>
    </div>
    <div *ngIf="points!==undefined && isMap">
        <div class="col-11">
            <h3 class="visualTitle">{{title}}
                <span style="float:right">
                    <img id="logo" width="200" class="img-fluid" src="/static/public/header/images/AOD-Logo.png">
                </span>
            </h3>
        </div>
        <app-map [descriptionPoints]="descriptions" [points]="points" zoom="8" turnDescript=true></app-map>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <div class="text-center">
                <button tabindex="{{openedMenu ? -1 : 0}}" (click)="hideEmbedButton(0)" class="btn btn-link">Reutiliza el gráfico</button>
                <button tabindex="{{openedMenu ? -1 : 0}}" (click)="hideEmbedButton(1)" class="btn btn-link">Fuente de datos</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <span *ngIf="!hideEmbed">
                    <code>
                    <div class="border rounded" *ngIf="showData == 0" tabindex="{{openedMenu ? -1 : 0}}">
                        &lt;iframe src="{{routeEmbed}}" style="width: 100%; height: 100%;" frameborder="0"&gt;&lt;/iframe&gt;
                    </div>
                    <div class="border rounded" *ngIf="showData == 1" tabindex="{{openedMenu ? -1 : 0}}">
                        <ul style="list-style: none;">
                            <li *ngFor="let dataSource of datasetLocation">
                                {{ dataSource }}
                            </li>
                        </ul>
                    </div>
                </code>
                </span>
            </div>
        </div>
    </div>

</div>