<div class="def">
    <div *ngIf="chart!==undefined && !isMap &&  chart.type !== 'number'" class="d-block">
        <div class="col-12">
            <h3 class="visualTitle">{{title}}
                <span style="float:right">
                    <img id="logo" width="200" class="img-fluid" src="/static/public/header/images/AOD-Logo.png">
                </span>
            </h3>
        </div>
        <div class="row mx-auto w-100">
            <div *ngIf="chart.type=='doughnut'" class="col-sm-12 col-xs-12 col-md-8 col-lg-8 mx-auto graph-donut-container" [ngClass]="(numberLegend>5)?'graph-donut-big-legend':'graph-donut-small-legend'">
                <canvas baseChart [datasets]="chart.data" [labels]="chart.labels" [options]="chartOptions" [colors]="chart.colors" [legend]="chartLegend"
                    [chartType]="chart.type">
                </canvas>
            </div>
            <div *ngIf="chart.type!='doughnut'" class="col-sm-12 col-xs-12 col-md-8 col-lg-8 mx-auto graph-container" [ngClass]="(numberLegend>5)?'graph-big-legend':'graph-small-legend'">
                <canvas baseChart [datasets]="chart.data" [labels]="chart.labels" [options]="chartOptions" [colors]="chart.colors" [legend]="chartLegend"
                    [chartType]="chart.type">
                </canvas>
            </div>
        </div>
    </div>
    <div *ngIf="chart!==undefined && !isMap &&  chart.type === 'number'" class="d-block" style="display: flex;justify-content: center;font-weight: bold;" [style.color]="chart.number.numberColor" [style.font-size]="chart.number.numberSize + 'px'">
        <div style="margin-right: 8px;">{{ chart.number.number }}</div>
        <div>{{ chart.number.numberUnits }}</div>
    </div>
    <div *ngIf="points!==undefined && isMap">
        <div class="col-12">
            <h3 class="visualTitle">{{title}}</h3>
            <div style="text-align:right;margin-bottom: 8px;">
                <img id="logo" width="200" class="img-fluid" src="/static/public/header/images/AOD-Logo.png">
            </div>
        </div>
        <app-map [descriptionPoints]="descriptions" [points]="points" zoom="8" turnDescript=true></app-map>
    </div>
    <div class="row mt-5"  *ngIf="chart!==undefined">
        <div class="col-12">
            <div class="text-center"> 
                <button tabindex="{{openedMenu ? -1 : 0}}" (click)="hideEmbedButton(0)" class="btn btn-link">Reutiliza el gráfico</button>
                <button tabindex="{{openedMenu ? -1 : 0}}" (click)="hideEmbedButton(1)" class="btn btn-link">Fuente de datos</button>
                <button tabindex="{{openedMenu ? -1 : 0}}" (click)="showModal()" class="btn btn-link">Ver tabla de datos</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <span *ngIf="!hideEmbed">
                    <code>
                    <div class="border rounded" *ngIf="showData == 0" tabindex="{{openedMenu ? -1 : 0}}">
                        &lt;iframe src="{{routeEmbed}}" style="width: 100%; height: 100%;" frameborder="0"&gt;&lt;/iframe&gt;
                    </div>
                    <div class="border rounded" *ngIf="showData == 1" tabindex="{{openedMenu ? -1 : 0}}">
                        <ul style="list-style: none;">
                            <li *ngFor="let dataSource of datasetLocation">
                                {{ dataSource }}
                            </li>
                        </ul>
                    </div>
                </code>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="display-table">
                    <div *ngFor="let data of tableData; let i = index" class="display-row">
                        <div *ngFor="let value of data; let j = index" class="display-cell" [ngClass]="{'bold': i===0 || j === 0}">
                            <div>{{value}}</div>
                        </div>
                    </div>                    
                </div>
                
                <button tabindex="{{openedMenu ? -1 : 0}}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="sr-only">Cerrar modal tabla de datos</span>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>