.visualTitle {
  font-family: RobotoLight, sans-serif;
  color: #5ea2ba;
}

.def {
  margin: 0 !important;
}


.graph-container, .graph-donut-container{
  min-height: 300px;
}

.modal{
  .close{
    position: absolute;
    right: 8px;
  }
}
.display-table{
  max-height: 90vh;
  width: calc(100% - 16px);
  overflow: auto;
}
.display-row {
  display: table-row;
}
.display-cell {
  display: table-cell;
  padding: 5px;
  &.bold{
    font-weight: bold;
  }
}


@media screen and (max-width: 1024px) {
  
  .graph-donut-big-legend, .graph-big-legend{
    min-height: 900px;
  }
  
} 

