.visualTitle {
  font-family: RobotoLight, sans-serif;
  color: #5ea2ba;
}

.def {
  margin: 0 !important;
}


.graph-container{
  min-height: 50vh;
}

.graph-donut-container{
  min-height: 50vh;
}

.modal{
  .close{
    position: absolute;
    right: 8px;
  }
}
.display-table{
  max-height: 90vh;
  width: calc(100% - 16px);
  overflow: auto;
}
.display-row {
  display: table-row;
}
.display-cell {
  display: table-cell;
  padding: 5px;
  &.bold{
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .def {
    margin-top: -15% !important;
  }
}

@media (min-width: 768px) {
  .def {
    margin-top: -5% !important;
  }
}

@media screen and (max-width: 1024px) {
  .graph-donut-big-legend {
    min-height: 100vh;
  }
  .graph-donut-small-legend {
    min-height: 100vh;
  }
  .graph-big-legend{
    min-height: 100vh;
  }
  .graph-small-legend{
    min-height: 50vh;
  }
}