<footer id="mainFooter" class="site-footer">
	<article class="container-fluid">
			

		<div class="row">
		<div class="col-md-4 threeCol">
			<h2 class="titleFooter">AVISO LEGAL</h2>
			<div class="threeCol_child">
				<div><a href="/{{routerLinkInfoTerms}}">TERMINOS DE USO</a></div>
				 
				<div class="row" >
					<div class="col-md-3 eur-logo">
						<div class="img-eur-logo">
							<img src="../../../assets/header-footer/flag-europe.png" style="padding-left: 5px;">
						</div>
					</div>
					<div class="col-md-9">
						<div class="normal-txt-eur">union europea</div>
						<div class="normal-txt-eur">fondo europeo de desarrollo regional (feder)</div>
						<div class="italic-txt-eur">"Construyendo Europa desde Aragón"</div>
					</div>
						
						
				</div>
				<div class="row" >
					<div class=" col-xs-12  cc-logo">
							<div class="imgn">
								<img src="../../../assets/header-footer/cc.png" width="100px">
							</div>
					</div>
					<div class="col-xs-12 paddingleft20">
						<div class="txt-cc-logo">
							<span>
								Los contenidos del portal están sujetos a licencia creative commons reconocimiento 4.0 salvo que se indique lo contrario
							</span>
						</div>
					</div>
				</div>	
			</div>
			
			
		</div>

		<div class="col-md-4 threeCol">
			<h2 class="titleFooter">CONTENIDO DESTACADO</h2>
			<ul>
				<li><a routerLink="/{{routerLinkDataCatalog}}">BANCO DE DATOS</a></li>
				<li><a href="{{aodBaseUrl}}/{{routerLinkServicesAragopedia}}">ARAGOPEDIA</a></li>
				<li><a href="{{aodBaseUrl}}/{{routerLinkServicesSocialData}}">OPEN SOCIAL DATA</a></li>
				<li><a routerLink="/{{routerLinkInfoCollaboration}}">COLABORA</a></li>
				<li><a routerLink="/{{routerLinkInfoApplications}}">APLICACIONES</a></li>
				<li><a routerLink="/{{routerLinkInfoOpenData}}">INFO OPEN DATA</a></li>
			</ul>
		</div>

		<div class="col-md-4 threeCol logos_div">
			<h2 class="titleFooter" id="poweredByRow">POWERED BY</h2>
			
			<div class="logos paddingleft45">
				<div class="row show-grid ">
					<div class="col-xs-4 col-md-3 logos"><a class="ckan" href="{{ckanUrl}}" target="_blank">
							<img src="../../../assets/header-footer/cajaLogoCKAN.jpg">
						  </a></div>
					<div class="col-xs-4 col-md-3 logos"><a class="mediawiki" href="{{mediaWikiUrl}}" target="_blank">
							<img src="../../../assets/header-footer/cajaLogoMediaWiki.jpg">
						  </a></div>
					<div class="col-xs-4 col-md-3 logos">	<a class="virtuoso" href="{{virtuosoUrl}}" target="_blank">
							<img src="../../../assets/header-footer/cajaLogoVirtuoso.jpg">
						  </a></div>
					<div class="col-xs-4 col-md-3 logos">
							<a class="elda" href="{{eldaUrl}}" target="_blank">
									<img src="../../../assets/header-footer/cajaLogoElda.jpg">
								  </a>
					</div>				
					<div class="separator"></div>
					<div class="col-xs-4 col-md-3 logos margintop10">	<a class="swagger" href="{{swaggerUrl}}" target="_blank">
							<img src="../../../assets/header-footer/cajaLogoSwagger.jpg">
						  </a></div>
					<div class="col-xs-4 col-md-3 logos margintop10"><a class="node" href="{{nodeJsUrl}}" target="_blank">
							<img src="../../../assets/header-footer/cajaLogoNodeJS.jpg">
						  </a></div>
					<div class="col-xs-4 col-md-3 logos margintop10"><a class="angular" href="{{angularUrl}}" target="_blank">
							<img src="../../../assets/header-footer/cajaLogoAngular.jpg">
						  </a></div>
					<div class="col-xs-4 col-md-3 logos margintop10"><a class="kibana" href="{{kibanaUrl}}" target="_blank">
							<img src="../../../assets/header-footer/cajaLogoKibana.jpg">
						  </a></div>
				</div>



			</div>
		
		</div>
	</div>
	<div class="row separate"></div>
		<div class="row">
				<div class="col-md-8">
					<div class="twoCol">
							<img class="marginleft21" src="../../../assets/header-footer/logo-aragob-blanco.png" width="150px">
							<div class="gobText">
								Gobierno de Aragón - Edificio Pignatelli - Paseo María Agustín, 36, 50071 - Zaragoza - Tel 976714000
							</div>
						</div>
				</div>			
				<div class="col-md-4">
						<div class="social-nw">
								<div class="socialNetworkIcon">
									<a class="facebook" href="{{oasiFacebookUrl}}">
											<i class="fa fa-facebook-official"></i>
										</a>
								</div>
								<div class="socialNetworkIcon">
									<a class="twitter" href="{{oasiTwitterUrl}}">
											<i class="fa fa-twitter"></i>
										</a>
								</div>
								<div class="socialNetworkIcon">
									<a class="youtube" href="{{oasiYoutubeUrl}}">
											<i class="fa fa-youtube-play"></i>
										</a>
								</div>
								<div class="socialNetworkIcon">
									<a class="mail" href="mailto:{{aodMail}}">
											<i class="fa fa-envelope-o"><span>AOD</span></i>
										</a>
								</div>
	
				</div>
			</div>
		
			
			</div>
	</article>
</footer>