.col-format {
  white-space: pre-wrap;
  word-break: break-all;
  width: 200px;
}

.column1 {
  float: left;
  width: 20%;
}

.column2 {
  float: left;
  width: 80%;
  padding-right: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.button {
  background-color: #0066cc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: poin;
}

ul {
    list-style-type: none;
}

label {
    position:relative;   
    cursor:pointer;
}

label [type="checkbox"] {
    
}
[type="checkbox"] + span {
    display:inline-block;
}
:checked + span {
    background:#a8d1ff;
    display:inline-block;    
}