<div class="row">
    <div class="column1">
        <strong style="padding-left: 25px;">Seleccionar Columnas:</strong>
        <div style="overflow:auto;height: 500px;">
            <ul>
                <ng-template ngFor let-property [ngForOf]="headerTable">
                    <li>
                        <label class="container">{{property}}
                            <input type="checkbox"name=property value=property (change)="updateChecked(property, $event)">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
    <div class="column2">
        <p-dataTable [tableStyle]="{'table-layout':'auto'}" scrollable="true" [value]="dataTable" [rows]="6" [paginator]="true" #dt>
            <p-header>Dataset</p-header>
            <ng-template ngFor let-property [ngForOf]="headerTable" let-i="index">
                <p-column [style]="{'width':'350px','word-break':'break-word'}" field={{property}} header={{property}}>
                    <ng-template let-entry="rowData" pTemplate="body">
                            <span class="row" *ngIf='!maxCharacters(entry,i)'>
                                    {{entry[i]}}
                            </span>
                            <span class="row" *ngIf="maxCharacters(entry,i)">
                                    <button type="button" class="btn btn-light" data-toggle="modal" (click)="manteinData(entry[i])" data-target="#exampleModal">
                                            <i class="fa fa-info"></i>
                                    </button>
                            </span>
                    </ng-template>
                </p-column>
            </ng-template>
        </p-dataTable>
    </div>
</div>


<button (click)="next()" class="button">Crear Grafica</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Despliegue de Infromaci&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <code>
                    <pre>{{mData| json}}</pre>
                </code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>