<div class="row w-100">
    <div class="col-2 col-left">
        <strong tabindex="{{openedMenu ? -1 : 0}}" aria-label="Seleccinar Columnas para formar la gr&aacute;fica.">¿Qué columnas quieres añadir al gráfico?</strong>
        <ul class="mt-2">
            <ng-template ngFor let-property [ngForOf]="this.navigationService.headerTablePreview">
                <li>
                    <label class="container">{{property}}
                        <input type="checkbox" name=property value=property [checked]="isChecked(property)" (change)="updateChecked(property, $event)" tabindex="{{openedMenu ? -1 : 0}}">
                        <span class="checkmark"></span>
                    </label>
                </li>
            </ng-template>
        </ul>
        <button tabindex="{{openedMenu ? -1 : 0}}" type="button" class="btn w-100" data-toggle="modal" (click)="generateColumns()" data-target="#editColumn">Modificar el nombre de las columnas</button>
    </div> 
    <div class="col-10 col-right" *ngIf="!openedMenu">
        <p>Haz clic en las cabeceras para ordenar los datos por ese campo</p>
        <p-dataTable id="dataTable" resizableColumns="true" responsive="true" [immutable]=false scrollable="true" sortMode="multiple" (onSort)="changeSort($event)"
            [value]="dataTable" [rows]="6" [paginator]="true" #dt>
            <p-header>Dataset</p-header>
            <ng-template ngFor let-property [ngForOf]="this.navigationService.headerTablePreview" let-i="index">
                <p-column [style]="{width: '200px'}" field={{property}} header={{property}} [sortable]="true">
                    <ng-template let-entry="rowData" pTemplate="body">
                        <span class="row" *ngIf='!maxCharacters(entry,i)' style="padding-left:15px;" tabindex="{{openedMenu ? -1 : 0}}">
                            {{entry[i]}}
                        </span>
                        <span class="row" *ngIf="maxCharacters(entry,i)">
                            <button type="button" class="btn btn-light" data-toggle="modal" (click)="manteinData(entry[i])" data-target="#exampleModal">
                                <i class="fa fa-info"></i>
                            </button>
                        </span>
                    </ng-template>
                </p-column>
            </ng-template>
        </p-dataTable>

        <div class="row mt-3 justify-content-end">
            <div class="col-12 justify-content-end">
                <button (click)="next()" tabindex="{{openedMenu ? -1 : 0}}" class="button2 float-right">Siguiente</button>
                <button (click)="goBack()" tabindex="{{openedMenu ? -1 : 0}}" class="button2 float-right">Volver</button>
            </div>
        </div>

        <div class="btn-continue-alert">
            <div *ngIf="!nextStep" class="alert alert-warning">Es necesario seleccionar alguna columna para continuar</div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Despliegue de Infromaci&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <code>
                    <pre>{{mData| json}}</pre>
                </code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editColumn" tabindex="-1" role="dialog" aria-labelledby="editColumnLabel" aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Columnas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p-dataTable [value]="this.navigationService.columnsHeaders" [editable]="true" tabindex="{{openedMenu ? -1 : 0}}">
                    <p-column field="col" header="Columnas" [editable]="true"></p-column>
                </p-dataTable>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="changeColumnsName()" class="btn" data-dismiss="modal">Guardar</button>
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>