<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <span class="titleMapper">Datos Recibidos</span>
            <div class='container'>
                <tree-root class="tree" [nodes]="nodes" [options]="options"></tree-root>
            </div>
        </div>
        <div class="col-md-4">
                <span class="titleMapper">Datos Cabecera</span>
                <div class='container'>
                        <tree-root [nodes]="nodes1" [options]="options1"></tree-root>
                </div>
        </div>
        <div class="col-md-4">
                <span class="titleMapper">Datos Columnas</span>
                <div class='container'>
                        <tree-root [nodes]="nodes2" [options]="options2"></tree-root>
                </div>
        </div>
    </div>
    <div style="margin:15px">
        <div class="col-md-12">
            <span class="titleMapper">Configuraci&oacute;n</span>
                Hola
                <div class="col-md-12">
                    <div class="col-md-12">
                        Opción Libertad, introducir dato a dato en Cabecera.
                    </div>
                    <div class="col-md-12">
                        Opción Libertad, introducir dato a dato en Columna.</div>
                    <div class="col-md-12">
                        Opción, datos de cabecera en el primer indice del Array en Columnas
                    </div>
                    <div class="col-md-12">
                        Opción, quizas no necesaria segun esta hecho esto, los datos estan en las claves
                    </div>
                </div>
        </div>

        <div class="col-md-12">
            <span class="titleMapper">Tabla</span>
            <p-dataTable [tableStyle]="{'table-layout':'auto'}" scrollable="true" [value]="dataTable" [rows]="6" [paginator]="true" #dt>
                <p-header>Dataset</p-header>
                <ng-template ngFor let-property [ngForOf]="headerTable" let-i="index">
                    <p-column [style]="{'min-width':'200px'}" field={{property}} header={{property}}>
                        <ng-template let-entry pTemplate="item">
                                        {{i}}
                        </ng-template>
                    </p-column>
                </ng-template>
            </p-dataTable>
        </div>
    </div>
</div>