.container-view{
    margin-top: 3rem;
    .title{
        text-align: center;
        margin-bottom: 3rem;
        img{
            max-width: 62px;
        }
    }
    .desc-history{
        margin-bottom: 3rem;
    }
    .content-wrap{
        margin-bottom: 3rem;
        .title{
            font-size: 21px;
            font-weight: bold;
            text-align: left;
        }
        .content{
            display: flex;
            align-items: center;
            p{
                margin-right: 2rem;
            }
            canvas{
                display: block;
                width: auto;
                width: 700px !important;
                //margin-left: 20px;
            }
            .content-text{
                width: 30%;
            }
            .content-visual{
                width: 70%;
                &.graph{
                    iframe {
                        width: 1px;
                        min-width: 100%;
                      }
                }
            }
        }
    }

} 