.loading{
    i{
        color: #76a1b8; 
        font-size: 100px; 
        font-weight: 400;
    }
}
.container-view{
    margin-top: 3rem;
    .title{
        text-align: center;
        margin-bottom: 3rem;
        position: relative;
        .img-background{
            opacity: 0.2;
            min-height: 300px;
            img{
                height: 40vh;
                width: auto;
                max-height: none;
                &.icon{
                    max-width: 362px;
                }
            }
        }
        .content-title{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;            
            justify-content: center;
            flex-direction: column;
            align-items: center;
            p{
                max-width: 1200px;
                margin-top: 19px;
            }
        }
        
    }
    .back{
        color: #212529;
        padding-left: 0;
    }
    .desc-history{
        margin-bottom: 3rem;
    }
    .content-wrap{
        margin-bottom: 3rem;
        .title{
            margin-bottom: 1rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
            font-size: 1.5rem;
            text-align: left;
        }
        .content{
            display: flex;
            margin-bottom: 8rem;
            canvas{
                display: block;
                width: auto;
                width: 700px !important;
            }
            >div{
                flex: 1;
                &:first-of-type{
                    margin-right: 2rem;
                }
            }
            .content-text{
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            .content-visual{
                display: flex;
                justify-content: center;
                align-items: center;
                &.graph{
                    iframe {
                        width: 1px;
                        min-width: 100%;
                      }
                }
            }
            &.graph{
                .content-text{
                    flex: 1;
                }
                .content-visual{
                    flex: 2;
                }
            }
        }
    }

} 