
<!-- Error -->
<div class="container" *ngIf="errorTitle">
  <div class="alert alert-info" role="alert">
      <div class="row">
          <div class="col-xs-3">
              <i class="fa fa-exclamation-triangle fa-5x" style="margin:15px;color: #5ea2ba;"></i>
          </div>
          <div class="col-xs-9">
              <h1>{{errorTitle}}</h1>
              <h2>{{errorMessage}}</h2>
              <a class="mail" href="mailto:opendata@aragon.es">
                  <h2> <i class="fa fa-envelope"></i> Contactar con el Administrador</h2>
              </a>
          </div>
      </div>
  </div>
</div>

<!-- Loading -->
<div class="loading text-center" *ngIf="loading">
  <div class="loadingText">Cargando historia</div><br/><br/>
  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><br/><br/> 
</div>

<!-- History -->
<div *ngIf="!loading && !errorTitle && historySelect">

  <div class="container-view">

    <div class="row title">

      <div class="img-background">
        <!--<img *ngIf="historySelect.main_category === 1263" src="./assets/img/salud.svg" class="icon card-img-top" alt="...">
        <img *ngIf="historySelect.main_category === 1267" src="./assets/img/agricultura.svg" class="icon card-img-top" alt="...">
        <img *ngIf="historySelect.main_category === 1264" src="./assets/img/educacion.svg" class="icon card-img-top" alt="...">
        <img *ngIf="historySelect.main_category === 1272" src="./assets/img/transportes.png" class="card-img-top img" alt="...">
        <img *ngIf="historySelect.main_category === 1271" src="./assets/img/vivienda.jpg" class="card-img-top img" alt="...">
        <img *ngIf="historySelect.main_category === 1270" src="./assets/img/cultura.jpg" class="card-img-top img" alt="...">
        <img *ngIf="historySelect.main_category === 1265" src="./assets/img/trabajo.svg" class="icon card-img-top" alt="...">
         -->
         <img src="/static/public/focus/pilar.jpg" class="icon card-img-top" alt="...">
      </div>

      <div class="col-md-12 content-title">
        <h1 tabindex="{{openedMenu ? -1 : 0}}" class="title-text">{{historySelect.title}}</h1>
      </div>

    </div>

    <div class="row subtitle">
      <div class="container-fluid opendata-style margin-subtitle">
        <div class="col-md-12 history-description margin-description">
          <p class="description-title" [innerHTML]="historySelect.description" tabindex="{{openedMenu ? -1 : 0}}"></p>
        </div>
        <div class="aditional-info">
          <div *ngFor="let info of aditionalInfo; let i = index">
            <div class="card">
              <div class="number-info">{{info.value}}</div>
              <div class="text-aditional-info">{{info.text}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row secondary-categories" *ngIf="selectedCategories.length != 0">
      <div class="container-fluid opendata-style margin-secondary-categories">
        <div class="categories">
          <div *ngFor="let secondCategory of selectedCategories; let i = index">
            <div class="card">
              <img *ngIf="secondCategory.id === 1261" src="http://opendata.aragon.es/static/public/i/temas/12-Justicia.png" alt="Historia de la categoria Derechos y servicios a la ciudadanía" longdesc="Derechos y servicios a la ciudadanía">
              <img *ngIf="secondCategory.id === 1262" src="http://opendata.aragon.es/static/public/i/temas/18-Sociedad.png"  alt="Historia de la categoria Atención social y dependencia" longdesc="Atención social y dependencia">
              <img *ngIf="secondCategory.id === 1263" src="http://opendata.aragon.es/static/public/i/temas/15-Salud.png" alt="Historia de la categoria salud" longdesc="Salud">
              <img *ngIf="secondCategory.id === 1264" src="http://opendata.aragon.es/static/public/i/temas/07-Educacion.png" alt="Historia de la categoria Educación, investigación y desarrollo" longdesc=" Educación, investigación y desarrollo">
              <img *ngIf="secondCategory.id === 1265" src="http://opendata.aragon.es/static/public/i/temas/08-Empleo.png" alt="Historia de la categoria empleo y trabajo" longdesc="Empleo y trabajo">
              <img *ngIf="secondCategory.id === 1266" src="http://opendata.aragon.es/static/public/i/temas/02-Comercio.png" alt="Historia de la categoria Empresa, comercio y asociaciones" longdesc="Empresa, comercio y asociaciones">
              <img *ngIf="secondCategory.id === 1267" src="http://opendata.aragon.es/static/public/i/temas/14-MedioRural.png" alt="Historia de la categoria Medio rural, agrícula y ganadería" longdesc="Medio rural, agrícula y ganadería">
              <img *ngIf="secondCategory.id === 1268" src="http://opendata.aragon.es/static/public/i/temas/13-Medioambiente.png" alt="Historia de la categoria Medio ambiente" longdesc="Medio ambiente">
              <img *ngIf="secondCategory.id === 1269" src="http://opendata.aragon.es/static/public/i/temas/11-Industria.png" alt="Historia de la categoria Actividades industriales y energía" longdesc="Actividades industriales y energía">
              <img *ngIf="secondCategory.id === 1270" src="http://opendata.aragon.es/static/public/i/temas/03-Cultura.png" alt="Historia de la categoria Cultura, ocio y turismo" longdesc="Cultura, ocio y turismo">
              <img *ngIf="secondCategory.id === 1271" src="http://opendata.aragon.es/static/public/i/temas/22-Vivienda.png" alt="Historia de la categoria Vivienda" longdesc="Vivienda">
              <img *ngIf="secondCategory.id === 1272" src="http://opendata.aragon.es/static/public/i/temas/19-Transporte.png" alt="Historia de la categoria Infraestructura, transportes y carreteras" longdesc="Infraestructura, transportes y carreteras">
              <div class="text-aditional-info">{{secondCategory.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="all-content">
      <div *ngFor="let content of historySelect.contents; let i = index" class="row new-content" [ngClass]="i%2==0 ? 'par-background' : 'impar-background'">
        <div class="container-fluid opendata-style margin">
          <div class="col-md-12">
            <div class="tab-content">
              <div class="tab-pane active" id="content_tab" role="tabpanel">
                <!-- content history -->
                <div class="content-wrap">
      
                  <div class="content" [ngClass]="{'graph': content.type_content === contentEnum.graph}">
    
                    <div class="content-text" *ngIf="content.align == alignEnum.right">
                      <p tabindex="{{openedMenu ? -1 : 0}}" class="title-content">{{content.title}}</p>
                      <p tabindex="{{openedMenu ? -1 : 0}}" class="description-content text-tiny" [innerHTML]="content.description"></p>
                    </div>
      
                    <div class="content-visual graph " tabindex="{{openedMenu ? -1 : 0}}" *ngIf="content.type_content === contentEnum.graph">
                      <iframe appIframeResizer *ngIf="content.srcGraph" 
                        class="thread-content"
                        [src]="content.srcGraph"
                        title="Thread Content"
                        scrolling="no" frameborder="0"></iframe>
                    </div>
      
                    <div class="content-visual" tabindex="{{openedMenu ? -1 : 0}}" *ngIf="content.type_content === contentEnum.youtube">
                      <iframe *ngIf="content.srcYoutube" width="560" height="315" [src]="content.srcYoutube"
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                    </div>
      
                    <div class="content-visual" tabindex="{{openedMenu ? -1 : 0}}" *ngIf="content.type_content === contentEnum.shareSlides">
                      <iframe *ngIf="content.srcSlideShare" width="595" height="485" [src]='content.srcSlideShare' marginwidth="0" scrolling = "no"
                      style="border:1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;"
                      allowfullscreen></iframe>
                    </div>
                    
                    <div class="content-text" *ngIf="content.align === alignEnum.left">
                      <p tabindex="{{openedMenu ? -1 : 0}}" class="title">{{content.title}}</p>
                      <p tabindex="{{openedMenu ? -1 : 0}}" class="description-content text-tiny" [innerHTML]="content.description"></p>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  

  </div>
</div>
