.button {
  background-color: #0066cc;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.button2 {
  background-color: #9b9b9b;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btn-outline-primary{
  cursor: pointer;
}

.button3 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button4 {
  background-color: #0066cc;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.visualTitle {
  font-family: RobotoLight, sans-serif;
  color: #5ea2ba;
}

.pointer {
  cursor: pointer;
}
