<div class="center">
        <button (click)="next()" class="button">Crear nueva gr&aacute;fica</button>
</div>

<table class="table table-responsive" >
    <tbody>
    <tr>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    </tr>
    <tr>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    </tr>
    <tr>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    </tr>
    <tr>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    <td><div id="box"><img src="../../../assets/images/Pepperoni.png" alt="Pizza"></div></td>
    </tr>
    </tbody>
    </table>