<div class="row">
    <div class="col-md-12" style="margin-bottom: 10px">
        <p><strong>Seleccionar tipo de gr&aacute;fica</strong></p>
        <div class="col-md-12" style="text-align:center;">
            <button (click)="changeChart(0)" class="button"><i class="fa fa-line-chart"></i></button>
            <button (click)="changeChart(1)" class="button"><i class="fa fa-bar-chart"></i></button>
            <button (click)="changeChart(2)" class="button"><i class="fa fa-pie-chart"></i></button>
        </div>
    </div>
    <div class="col-md-12" style="margin-bottom: 10px">
        <p><strong>Mapear Datos</strong></p>
        <div class="col-md-12" style="margin-bottom: 10px">
            <div class="col-md-4" style="margin-bottom: 10px">
                    <span class="titleMapper">Columnas</span>
                    <div id='no-drop' class='container' [dragula]='"another-bag"' [dragulaModel]='columns'>     
                        <div *ngFor='let text of columns; let i = index'>
                                {{text}} <span style="float: right; color:rgb(194, 194, 194);">({{columnsType[i]}})</span>                           
                        </div>
                    </div>
            </div>

            <div class="col-md-4" style="margin-bottom: 10px">
                <span class="titleMapper">Datos columnas</span> <span style="font-size: 11; float: right">(Arraster tipo: Number)</span>
                <div id='move' class='container' [dragula]='"another-bag"' [dragulaModel]='columnsData'>
                    <div *ngFor='let text of columnsData; let i = index'>
                        {{text}} <span class='handleClose' (click)="deleteElement(1, i)">x</span> 
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">
                <span class="titleMapper">Etiquetas columnas</span> <span style="font-size: 11; float: right">(Arraster tipo: String)</span>
                <div id='move' class='container' [dragula]='"another-bag"' [dragulaModel]='columnsLabel'>
                    <div *ngFor='let text of columnsLabel; let i = index'>
                        {{text}} <span class='handleClose' (click)="deleteElement(2, i)" >x</span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p><strong>Gr&aacute;fica</strong></p>
        <div style="display: block;">
            <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
            <!--<canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]=chartType></canvas>-->
        </div>
    </div>
    <div class="col-md-12" style="text-align:center;">
        <button (click)="next()" class="button">Finalizar</button>
    </div>
</div>