.button {
  background-color: #0066cc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.loading{
  text-align: center;
  >div{
    color: #0066cc;
  }
}
.title-container{
  text-align: center;
  >p {
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      background-color: #0066cc;
      color: white;
      border-radius: 19px;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
    > strong {
      font-size: 24px;
    }
  }
}
.section {
  margin-bottom: 58px;
}
.titleMapper {
  text-align: center;
  padding-bottom: 5px;
  margin: 10px 0px 5px 0px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.container {
  display: table-cell;
  border: 2px solid rgba(0, 102, 204, 0.71);
  border-radius: 5px;
  padding-bottom: 10%;
  float: 1;
  width: 10000px;
}

.container div {
  margin: 10px;
  padding: 10px;

  color: #ffffff;
  background-color: #0066cc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  transition: opacity 0.4s ease-in-out;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.handleClose {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
  float: right;
}
