<div class="container" *ngIf="historySelect">
  <div class="row">
		<div class=" col-md-12">
			<h1>{{historySelect.title}}</h1>
		</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        <!-- Content Tab -->
				<div class="tab-pane active" id="content_tab" role="tabpanel">
          <div class="col-12" class="form-section">
            <h3 class="form-section-title">Descripción: </h3>
            <p>
              {{historySelect.description}}
            </p>
          </div>
          <div class="col-12" class="form-section">
            <h3 class="form-section-title">Categorías: </h3>
            <p>
              {{historySelect.category}}
            </p>
          </div>

          <div class="col-12" class="form-section" *ngIf="historySelect.contents">
            <h3 class="form-section-title">Contenido</h3>
            <div *ngFor="let content of historySelect.contents">
              <button #addContent class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-plus"></i> {{content.title}}
              </button>

              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="col-12" class="form-section">
                    <h3 class="form-section-title">Descripcion</h3>
                    <p>
                      {{content.description}}
                    </p>
                  </div>
                </div>
                <div class="card card-body">
                  <div class="col-12" class="form-section">
                    <h3 class="form-section-title">Id:</h3>
                    <p>
                      {{content.id}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" (click)="return()">Volver</button>


</div>