<div class="container">
  
  <div class="row">
    <div class="col-12">
      <div class="form-group">

          <!-- Search -->
          <div class="input-group col-8">

            <button class="btn btn-primary" type="button"  data-toggle="modal" (click)="openHomeFocusModal()">
              <i class="fa fa-plus"></i> Crear historia
            </button>

            
            <div class="input-search">
              <input type="text" class="form-control" placeholder="Introduce título..." aria-label="Recipient's username" aria-describedby="button-addon2" #searchInput>
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>

            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="getHistories(searchInput.value)">Buscar</button>
            </div>
            
          </div>

          <!-- categories -->
          <ul class="list-categories nav justify-content-center">
            <li class="nav-item" *ngFor="let category of categoriesVisible">
              <span class="nav-link text-primary">{{category.name}}</span>
            </li>
          </ul>

          <div *ngIf='viewMoreCategories' class="list-categories-hidden">
            <ul class="nav justify-content-center">
              <li class="nav-item" *ngFor="let category of categoriesHidden">
                <span class="nav-link text-primary">{{category.name}}</span>
              </li>
            </ul>
          </div>

          <button *ngIf='categoriesHidden' class="btn view-more" type="button" (click)='viewMoreCategories = !viewMoreCategories'>
            <i *ngIf='!viewMoreCategories' class="fa fa-angle-down"></i>
            <i *ngIf='viewMoreCategories' class="fa fa-angle-up"></i>
            <span *ngIf='!viewMoreCategories'>Ver mas</span>
            <span *ngIf='viewMoreCategories'>Ver menos</span>
          </button> 

          <!-- histories -->
          <div class="histories">
            <div>
              <div *ngFor="let history of histories">
                <div class="card"  (click)="getHistory(history.id)">
                  <!-- <img [src]="image" class="card-img-top" alt="..."> -->

                  <img *ngIf="history.main_category === 1263" src="./assets/img/salud.svg" class="card-img-top" alt="...">
                  <img *ngIf="history.main_category === 1267" src="./assets/img/agricultura.svg" class="card-img-top" alt="...">
                  <img *ngIf="history.main_category === 1264" src="./assets/img/educacion.svg" class="card-img-top" alt="...">
                  <img *ngIf="history.main_category === 1272" src="./assets/img/transportes.png" class="card-img-top img" alt="...">
                  <img *ngIf="history.main_category === 1271" src="./assets/img/vivienda.jpg" class="card-img-top img" alt="...">
                  <img *ngIf="history.main_category === 1270" src="./assets/img/cultura.jpg" class="card-img-top img" alt="...">
                  <img *ngIf="history.main_category === 1265" src="./assets/img/trabajo.svg" class="card-img-top" alt="...">

                  <div class="opacity"></div>
                  <div class="text"><span>{{history.title}}</span></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="homeModalCenter" tabindex="-1" role="dialog" aria-labelledby="homeModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="homeModalCenterTitle">Gestión de historias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf= createHistory>
        <div class="modal-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit fugit, mollitia suscipit adipisci maxime libero totam quis quaerat quidem vero ratione tenetur non cumque voluptatum consectetur, quas repellendus odio iste!
          </p>
          <p>
            Si lo que quiere es modificar una historia que creo previamente haga click en el siguiente enlace.
          </p>
          <!--<a target="_blank" href="https://www.google.com/"> Modificar</a>--->
          <a (click)="updateHistoryHiperLink()" class="simulateLink"> Modificar</a>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" (click)="createNewHistory()" >Crear nueva historia</button>
        </div>
      </div>

      <div *ngIf= !createHistory>
        <div class="modal-body">
          <p>
            Introduzca su token para poder modificar su historia
          </p>
          <form [formGroup]="tokenForm">
            <div class="modal-body">
              <input type="text" class="form-control" placeholder="Token" [class.is-invalid]="invalidToken" formControlName="token" (keyup.enter)="updateHistoryWithToken()">
              <small *ngIf="invalidToken" class="text-danger">Introduzca un token válido</small>
              <div *ngIf=tokenError class="alert alert-danger"  role="alert">
                <p> El token introducido es incorrecto. </p>
                <p> Por favor, compruebe que el token corresponde con el que se le proporcionó </p>
              </div>
              <div *ngIf=stateError class="alert alert-danger"  role="alert">
                <p>La historia a la que esta intentando acceder no se encuentra en un estado editable.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" [ngClass]="tokenForm.invalid ? 'disabled' : '' " (click)="updateHistoryWithToken()">Buscar</button>
            </div>
          </form>
        </div>
      </div>

      
    </div>
  </div>
</div>


