.container {
    >div{
        margin-top: 3rem;
        .input-group{    
            margin: 0 auto;
            display: flex;
            button, input {
                border-radius: 4px;
                
            }
            button,.input-search{
                margin-right: 0.5rem;
            }
            .input-search{
                position: relative;
                width: 60%;
                i{
                    font-size: 18px;
                    position: absolute;
                    right: 14px;
                    top: calc(50% - 9px);
                    color: rgb(108, 117, 125);
                }
            }
        }
        .list-categories {
            margin-top: 1rem;
            .nav-item{
                cursor: pointer;
                .selected{
                    background-color: gray;
                    color: white;
                    border-radius: 2em;
                }
            }
        }
        .view-more{
            display: block;
            text-align: center;
            margin: 0 auto;
            outline: none;
            box-shadow: none;
            &:hover{
                text-decoration: underline;
            }
            i{
                font-size: 18px;
            }
        }
        .histories{
            margin-top: 3rem;
            > div {
                display:flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .card {
                    width: 290px;
                    cursor: pointer;
                    // width: calc( (100% / 3 ));
                    display: flex;
                    align-items: center;
                    min-height: 159px;
                    justify-content: center;
                    position: relative;
                    border-radius: 4px;
                    height: 186px;
                    margin-bottom: 15px;
                    img{
                        width: 120px;
                        &.img{
                            width: auto;
                            height: 100%;
                            max-height: 186px;
                        }
                    }
                    i {
                        color: black;
                        font-size: 59px;
                    }
                    .opacity {
                        border-radius: 4px;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.6);
                        top: 0;
                        left: 0;
                        height: 100%;
                        z-index: 9999;
                        width: 100%;
                    }
                    .text {
                        position: absolute;
                        z-index: 99999;
                        font-weight: bold;
                        span{
                            color: white;
                        }
                    }
                    &:hover{
                        // img{
                            transform: scale(1.1);
                        // }
                        .text>span{
                            font-size: 18px;
                        }
                    }
                    
                }

            }
            
        }
    }
}

.modal{
    z-index:99999;
    .simulateLink{
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
    }
    .alert{
        margin-top:7px;
    }
}