<div class="container">
  <!--<h1> OPEN DATA FOCUS </h1>-->
  <!-- Search -->
  <div class="row" style="margin-top: 1%">
    <div class="col-12">
        <div class="form-group">
            <div class="input-group">
              <button class="btn-left btn-primary" type="button" routerLink="/{{routerLinkAddHistory}}">
                <i class="fa fa-plus"></i> Crear historia
              </button>
              <input type="text" class="form-control" placeholder="Buscar por..."  (keyup.enter)="searchDatasetsByText()" #searchInput>                
              <button class="btn btn-secondary" type="button" (click)="searchDatasetsByText()" ><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="categories">
              <div *ngIf="!moreCategories">
                <div class="categories-area col-10" >
                  <div *ngFor="let category of categoriesReduce" class="col-3 category-individual">
                    <button class="btn btn-secondary btn-category" type="button"><i aria-hidden="true">{{category}}</i></button>
                  </div>
                </div>
                <div class="categories-botton col-2" >
                  <button class="btn btn-secondary" type="button" (click)="clickCategories()" ><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
              </div>
              <div *ngIf="moreCategories">
                <div class="categories-area col-10" >
                  <div *ngFor="let category of categoriesAll" class="col-3 category-individual">
                    <button class="btn btn-secondary btn-category" type="button"><i aria-hidden="true">{{category}}</i></button>
                  </div>
                </div>
                <div class="categories-botton col-2" >
                  <button class="btn btn-secondary" type="button" (click)="clickCategories()" ><i class="fa fa-minus" aria-hidden="true"></i></button>
                </div>
              </div>              
            </div>
        </div>
    </div>

</div>