<div>
    <accordion>
        <accordion-group heading="API CKAN" (onOpen)="whoIsOpen('CKAN')">
            <div style="float:left">
                <div>
                        <!--<input  ngui-auto-complete max-num-list=5 [(ngModel)]="myData" [source]="list" />-->
                        <p-autoComplete size="30%" minQueryLength="0" [dropdown]="true"
                        [(ngModel)]="myData" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
                </div>
            </div>
            <div style="float:left">
                <button type="button" class="button1" (click)="selectPackage()" >Añadir Datos</button>
            </div>
            <div style="float:left ;margin-left: 5%;">
                <ul>
                        <li *ngFor="let data of ckanPackages">
                        <strong>DataSet seleccionado:</strong> {{data}} <button (click)="deletePackage()" class="button3" ><i class="fa fa-remove"></i></button>
                        </li>
                </ul>
            </div>
        </accordion-group>
        <accordion-group heading="Contacts"  (onOpen)="whoIsOpen('Contacts')">
            This is content of the contacts
        </accordion-group>
        <accordion-group heading="Map"  (onOpen)="whoIsOpen('Map')">
            Content of the Map
        </accordion-group>
        <accordion-group  (onOpen)="whoIsOpen('Custom')">
            <accordion-heading>
                Custom heading
            </accordion-heading>
            Its all about me.
        </accordion-group>
    </accordion>

    <button (click)="next()" class="button2">Crear Grafica</button>
</div>