<div class="row mt-5">
    <div class="col-12">

        <div class="row mb-5">
            
            <div class="col-12" tabindex="-1" *ngIf="!openedMenu">
                <p class="title-section">Utiliza tus datos de Aragón Open Data</p>
                <accordion [closeOthers]=true>
                    <accordion-group #accordionCkan heading="Buscar en el Banco de datos de Aragón Open Data" tabindex="-1" (isOpenChange)="whoIsOpen(accordionCkan,'CKAN')" class="principalOption">
                        <div class="content-accordion mb-4">
                            <div>
                                <div>
                                    <div *ngIf="listCkan?.length>0">
                                        <p-autoComplete tabindex="{{openedMenu ? -1 : 0}}"
                                            aria-label="Seleccionar datos cat&aacute;logo." size="70%"
                                            minQueryLength="0" [dropdown]="true" [(ngModel)]="this.navigationService.ckanPackagesInfo"
                                            [suggestions]="results" (ngModelChange)="resetData()"  (completeMethod)="search($event)">
                                        </p-autoComplete>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" tabindex="{{openedMenu ? -1 : 0}}"
                                        aria-label="Cargar datos" class="button1"
                                        (click)="selectPackage('CKAN')">Buscar Datos</button>
                                </div>
                                <div *ngIf="loading[0]" class="loader ml-1"></div>
                                <div *ngIf="errorResponse[0]" class="cross">&times;</div>
                                <div *ngIf="errorResponse[0]" class="text-danger pt-2"><strong>No se ha podido cargar el recurso, prueba más tarde y si no lo consigue, infórmanos en opendata@aragon.es</strong></div>
                            </div>

                            <div class="table-responsive pt-5" *ngIf='this.navigationService.packagesSelCKAN != ""'>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <!-- <th scope="col">DataSet: {{packagesSelCKAN}}</th> -->
                                            <th scope="col"><a target="blank" [href]="baseUrlOpenData+'/datos/catalogo/dataset/'+this.navigationService.packagesSelCKAN">+ Información sobre estos datos</a></th>
                                            <th scope="col">Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let resorce of this.navigationService.resourcesPackages; index as i;">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{resorce.name}}</td>
                                            <td>
                                                <button type="button" tabindex="{{openedMenu ? -1 : 0}}"
                                                aria-label="Cargar resource"
                                                (click)="selectResource(resorce)" [disabled]="loading[0]" [className]="!loading[0] ? 'button1' : 'buttonDisable'">Cargar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group #accordionOptions heading="Opciones Avanzadas" tabindex="-1" (isOpenChange)="resetData(true)">
                        <accordion  [closeOthers]=true>
  
                            <accordion-group #accordionUrl heading="Añade la url de datos (csv o px) de recursos de *.aragon.es o *unizar.es" (isOpenChange)="whoIsOpen(accordionUrl,'URL')">
                                <div class="float-left">
                                    <input tabindex="{{openedMenu ? -1 : 0}}" aria-label="Insertar URL del Banco de Datos" type="text" placeholder="Introduce la URL del recurso externo (en formato CSV) que quieras utilizar"
                                        size="75%" pInputText [(ngModel)]="this.navigationService.urlPackagesInfo" (keyup.enter)="selectPackage('URL')" />
                                </div>
                                <div class="float-left">
                                    <button type="button" class="button1" tabindex="{{openedMenu ? -1 : 0}}" aria-label="Cargar datos"
                                        (click)="selectPackage('URL')">Añadir recurso externo</button>
                                </div>
                                <div *ngIf="loading[2]" class="loader float-left ml-1"></div>
                                <div *ngIf="!urlError && errorResponse[2]" class="cross float-left ml-1">&times;</div>
                                <div *ngIf="!urlError && errorResponse[2]" class="text-danger pt-2"><strong>No se ha podido cargar el recurso, prueba más tarde y si no lo consigue, infórmanos en opendata@aragon.es</strong></div>
                                <span *ngIf="!urlError" class="text-danger pl-1">
                                    <strong>{{errorMessage}}</strong>
                                </span>
                                <div class="float-left ml-1" style="word-break: break-all">
                                    <ul>
                                        <li *ngIf="urlError" class="text-danger pt-1">
                                            <strong>URL invalida:</strong> Por favor cargue una URL valida
                                        </li>
                                        <li *ngIf='this.navigationService.packagesSelURL != ""'>
                                            <strong>DataSet seleccionado:</strong> {{this.navigationService.packagesSelURL}}
                                            <button (click)="deletePackage('URL')" class="button3" tabindex="{{openedMenu ? -1 : 0}}"
                                                aria-label="Eliminar Datos Cargados">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </accordion-group>
                            <accordion-group #accordionSPARQL heading="SPARQL endpoint" tabindex="-1" (isOpenChange)="whoIsOpen(accordionSPARQL,'SPARQL')">
                                <p>El SPARQL Endpoint consiste en una interfaz Web desde la que se pueden ejecutar consultas SPARQL, en el siguiente punto de entrada: https://opendata.aragon.es/sparql</p>
                                <div class="float-left mb-3">
                                    <div class="ui-float-label">
                                        <textarea pInputTextarea tabindex="{{openedMenu ? -1 : 0}}"
                                            aria-label="A&ntilde;adir consulta SPARQL"
                                            style="width: 500px; height: 150px" [(ngModel)]="this.navigationService.virtuosoPackagesInfo"
                                            (keyup.enter)="selectPackage('SPARQL')"></textarea>
                                    </div>
                                </div>
                                <div class="float-left">
                                    <button tabindex="{{openedMenu ? -1 : 0}}" aria-label="Cargar datos" type="button"
                                        class="button1" (click)="selectPackage('SPARQL')">Añadir Datos</button>
                                </div>
                                <div *ngIf="loading[3]" class="loader float-left ml-1"></div>
                                <div *ngIf="errorResponse[3]" class="cross float-left ml-1">&times;</div>
                                <div *ngIf="errorResponse[3]" class="text-danger pt-2"><strong>No se ha podido cargar el recurso, prueba más tarde y si no lo consigue, infórmanos en opendata@aragon.es</strong></div>
                                <div class="float-left ml-1" style="word-break: break-all;">
                                    <ul>
                                        <li *ngIf="querryError" class="text-danger pt-1">
                                            <strong>Consulta inválida:</strong> por favor realice una consulta válida
                                        </li>
                                        <li *ngIf='this.navigationService.packagesSelSPARQL != ""'>
                                            <strong>DataSet seleccionado:</strong> {{this.navigationService.packagesSelSPARQL}}
                                            <button (click)="deletePackage('SPARQL')" class="button3"
                                                tabindex="{{openedMenu ? -1 : 0}}" aria-label="Eliminar Datos Cargados">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </accordion-group>
                            <accordion-group #accordionGAODC heading="Gobierno de Aragón Open Data Core GA_OD_Core" (isOpenChange)="whoIsOpen(accordionGAODC,'GAODC')">
                                <p>GA_OD_Core es una API creada con la finalidad de poder obtener datos de determinadas vistas usadas y servidas actualmente a través del portal Aragón Openda Data. Utiliza estos datos para crear gráficas dentro de tus historias.</p>
                                <div style="float:left" class="mb-3">
                                    <div *ngIf="listGaodc?.length>0">
                                        <p-autoComplete size="70%" minQueryLength="0" [dropdown]="true" [(ngModel)]="this.navigationService.gaodcPackagesInfo" [suggestions]="results" (ngModelChange)="resetData()" (completeMethod)="search($event)"></p-autoComplete>
                                    </div>
                                </div>
                                <div style="float:left">
                                    <button type="button" class="button1" (click)="selectPackage('GAODC')">Cargar Datos</button>
                                </div>
                                <div *ngIf="loading[1]" class="loader" style="float:left; margin-left: 2%"></div>
                                <div *ngIf="errorResponse[1]" class="cross" style="float:left; margin-left: 2%">&times;</div>
                                <div *ngIf="errorResponse[1]" class="text-danger pt-2"><strong>No se ha podido cargar el recurso, prueba más tarde y si no lo consigue, infórmanos en opendata@aragon.es</strong></div>
                                <div class="table-responsive pt-2" *ngIf='this.navigationService.packagesSelGAODC != ""'>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Datos seleccionados: {{this.navigationService.packagesSelGAODC}}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!--
                                <div style="float:left ;margin-left: 1%; word-break: break-all;">
                                    <ul>
                                        <li *ngIf="this.navigationService.gaodcPackagesInfo">
                                            <strong>DataSet seleccionado:</strong> {{this.navigationService.gaodcPackagesInfo}} <button (click)="deletePackage()" class="button3"><i class="fa fa-remove"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                -->
                            </accordion-group>
                            
                        </accordion>
                    </accordion-group>
                </accordion>
            </div>
        </div>

        <div class="row" *ngIf="this.navigationService.tableToShow == 0">
            <div class="col-12">
                <span *ngIf="this.navigationService.dataTable && !openedMenu">
                    <p-dataTable [value]="this.navigationService.dataTable" [rows]="6" [paginator]="true" resizableColumns="true"
                        responsive="true" [immutable]=false scrollable="true" #dt>
                        <p-header>Dataset</p-header>
                        <ng-template ngFor let-property [ngForOf]="this.navigationService.headerTable" let-i="index">
                            <p-column [style]="{width: '200px'}" field={{property}} header={{property}}>
                                <ng-template let-entry="rowData" pTemplate="body">
                                    <span class="row" *ngIf='!maxCharacters(entry,i)' style="padding-left:15px;"
                                        tabindex="{{openedMenu ? -1 : 0}}">
                                        {{entry[i]}}
                                    </span>
                                    <span class="row" *ngIf="maxCharacters(entry,i)">
                                        <button type="button" class="btn btn-light ml-3" data-toggle="modal"
                                            (click)="manteinData(entry[i])" data-target="#exampleModal">
                                            <i class="fa fa-info"></i>
                                        </button>
                                    </span>
                                </ng-template>
                            </p-column>
                        </ng-template>
                    </p-dataTable>
                </span>
            </div>
        </div>
        
    </div>
</div>

<div class="row" *ngIf="this.navigationService.tableToShow == 1">
    <div class="col-12">
        <span *ngIf="this.navigationService.dataTable  && !openedMenu">
            <p-dataTable [value]="this.navigationService.dataTable" [rows]="6" [paginator]="true" resizableColumns="true" responsive="true"
                [immutable]=false scrollable="true" #dt>
                <p-header>Dataset</p-header>
                <ng-template ngFor let-property [ngForOf]="this.navigationService.headerTable" let-i="index">
                    <p-column [style]="{width: '200px'}" field={{property}} header={{property}}>
                        <ng-template let-entry="rowData" pTemplate="body">
                            <span class="row" *ngIf='!maxCharacters(entry,i)' style="padding-left:15px;">
                                {{entry[i]}}
                            </span>
                            <span class="row" *ngIf="maxCharacters(entry,i)">
                                <button type="button" class="btn btn-light ml-3" data-toggle="modal"
                                    (click)="manteinData(entry[i])" data-target="#exampleModal">
                                    <i class="fa fa-info"></i>
                                </button>
                            </span>
                        </ng-template>
                    </p-column>
                </ng-template>
            </p-dataTable>
        </span>
    </div>
</div>
<div class="row mt-1">
    <div class="col-12">
        <div *ngIf="!nextStep" class="alert alert-warning">Es necesario seleccionar un dataset o esperar a terminar la
            carga</div>
    </div>
</div>
<div class="row mt-3 justify-content-end">
    <div class="col-12 justify-content-end">
        <button (click)="next()" tabindex="{{openedMenu ? -1 : 0}}" class="button2 float-right">Siguiente</button>
        <button (click)="goBack()" tabindex="{{openedMenu ? -1 : 0}}" class="button2 float-right">Volver</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Despliegue de Infromaci&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <code>
                        <pre>{{mData| json}}</pre>
                    </code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>