.button1 {
  background-color: #0066cc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 4px 4px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.text-danger {
  max-width: 450px;
  display: inline-block;
}
.title-section {
  color: #0066cc;
  font-size: 18px;
}
.content-accordion{
  display: block;
  >div {
    display: flex;
    align-items: center;
    .loader, .cross{
      margin-left: 8px;
    }
  }
}
.buttonDisable {
  background-color: #a7a7a7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 4px 4px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.button2 {
  background-color: #0066cc;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {
  background-color: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

body .ui-autocomplete-dropdown {
  padding-bottom: 4px;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cross {
  font-size: 40px;
  color: #d00;
  font-weight: bold;
  font-family: helvetica, arial;
  line-height: 1;
}

accordion-group{
  &.principalOption{
    .panel-title{
      button:first-of-type{
        font-weight: 900 ;
        text-shadow: 0.5px 0;
      }

    }
  }
}