.descript {
  margin-top: 5px;
  border: 2px solid rgba(109, 109, 109, 0.71);
  border-radius: 5px;
  width: 100%;
}

.descript p {
  margin: 0 0 0 10px;
}

#mydiv {
  min-width: 200px;
  width: 100px;
  word-break: break-word;
  height: auto;
  position: absolute;
  //z-index: 9;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  top: 0;
  left: 0;
  color: white;
  display: none;
}

.selector{
  position: relative;
}
/*
.positionBox {
  position: absolute;
  top: 0;
  left: 0;
}
*/