<div id="selector">
	
	<div class="mapa-zoom-container">
		<button class="mapa-zoom-button top" title="Zoom in" (click)="setZoon(+1)">+</button>
		<button class="mapa-zoom-button bottom" title="Zoom out" (click)="setZoon(-1)">-</button>
	</div>
	<aol-map id="map-container" class="map-disable-drag" [width]="'100%'" [height]="'100%'" (onPointerMove)="mapOnClick($event)">
		<aol-interaction-dragpan></aol-interaction-dragpan>
		<aol-view [zoom]="zoom">
			<!--Europe [x]="40.22875" [y]="55.00625"-->
			<aol-coordinate [x]="x" [y]="y" [srid]="'EPSG:4326'"></aol-coordinate>
		</aol-view>
		<aol-layer-tile [opacity]="1">
			<aol-source-tilewms *ngIf="type==='igear'" [url]="'https://idearagon.aragon.es/arcgis/services/AragonReferencia/Basico_NEW/MapServer/WMSServer'" [params]="mapParams"></aol-source-tilewms>
			<aol-source-osm *ngIf="type==='default'"></aol-source-osm>
		</aol-layer-tile>
		
		<aol-layer-vector [opacity]="1">
			<aol-source-vector>
				<aol-feature [id]="i" *ngFor="let p of points; let i = index" (click)='mapOnClick($event)'>
					<aol-geometry-point>
						<aol-coordinate [x]="p.x" [y]="p.y" [srid]="'EPSG:4326'">

						</aol-coordinate>
					</aol-geometry-point>
				</aol-feature>
				<aol-style>
					<aol-style-circle [radius]="10">
						<aol-style-stroke [color]="'#fff'"></aol-style-stroke>
						<aol-style-fill [color]="'#3399CC'"></aol-style-fill>
					</aol-style-circle>
				</aol-style>
			</aol-source-vector>
		</aol-layer-vector>
		
	</aol-map>
	
	<!--Draggable DIV:-->
		<div id="mydiv" class="mydiv rounded">
			<p class="mt-2">{{description}}</p>
		</div>
</div>
<!--
<div *ngIf="turnDescript=='true'" class="descript">
	<p>{{description}}</p>
</div>
-->
