.descript {
  margin-top: 5px;
  border: 2px solid rgba(109, 109, 109, 0.71);
  border-radius: 5px;
  width: 100%;
}

.descript p {
  margin: 0 0 0 10px;
}

#mydiv {
  position: fixed;
  z-index: 9;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  top: 0;
  left: 0;
  height: 50px;
  color: white;
  display: inline-block;
}

.positionBox {
  position: fixed;
  top: 0;
  left: 0;
}
