  
<div class="row">
    <h2>Crear un nuevo contenido</h2>
</div>

<form [formGroup]="contentForm">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">

        <!-- Content Tab -->
        <div class="tab-pane active" id="content_tab" role="tabpanel">

          <!-- Titulo contenido -->
          <div>
              <h4 class="form-section-title">Título *</h4>
              <p>Por favor, escribe una denominación del contenido</p>
              <input class="col-12 form-control" type="text" placeholder="Título" formControlName="title" [class.is-invalid]="invalidTitle">
              <small *ngIf="invalidTitle" class="text-danger">Campo Obligatorio</small>
          </div>

          <!-- Descripcion contenido -->
          <div>
            <h4 class="form-section-title">Contenido *</h4>
            <p>El contenido de la historia es lo que quieres contar, con la ayuda de los distintos gráficos que aporta el portal de Aragon Open Data</p>
            <angular-tinymce id="editorContent" [settings]="settings" formControlName="description"></angular-tinymce>
          </div> 

          <!-- Fuente de datos -->
          <div>
            <h4 class="form-section-title">Fuente de datos *</h4>
            <p>
              En este apartado deberás de elegir una fuente de datos del portal de Aragón Open Data, de la cual
              te has apoyado para escribir esta historia. Puedeser un conjunto de datos, una vista del GA_OD_Core,
              una consulta SPARQL o una gráfica utilizando la herramienta de Open Visual Data...etc
            </p>

            <div *ngIf='contentModel.id_Graph'>
              <p class="form-section-title">El id seleccionado es: {{contentModel.id_Graph}}</p>
            </div>

            <button class="btn-left btn btn-outline-secondary" type="button" (click)='openVisualData()'>Abrir Open Visual Data</button>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="actions">
    <button class="btn-left btn btn-primary" type="button" (click)='saveContent()' [ngClass]="contentForm.invalid ? 'disabled' : '' ">Guardar contenido</button>
  </div>
</form>

