h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoLight', sans-serif;
    line-height: 1;
    letter-spacing: 0.1em;
    color: #5ea2ba;
    font-weight: 300;
}

.form-section-title{
    font-weight: bold;
    font-family: inherit;
    display: block;
    margin-top: 0.75rem;
}

.form-section{
    padding: 1%; 
    text-align: justify;
}

.title{
    margin: 3rem 0;
}

.tab-content{
    .tab-pane{
        >div{
            margin-bottom: 3rem;
        }
        .group{
            margin: 2rem 0;
            .conten-type{
                .form-row{
                    margin-right: 0;
                    margin-left: 0;
                    input{
                        margin-right: 8px;
                        &[type="radio"]{
                            height: 21px;
                        }
                        
                    }
                }
            }
        }
        
        // .contents-select {
        //     span{
        //         font-weight: bold;
        //     }
        // }
        
        .select-cat2{
            button{
                margin-left: 0;
                width: 100%;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

.actions{
    display: block;
    text-align: right;
}

.ocultar{
    display: none;
}