  
<div class="row ">
    <h3 class="form-section-title">Crear un nuevo contenido</h3>
</div>

<form [formGroup]="contentForm">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">

        <!-- Content Tab -->
        <div class="tab-pane active" id="content_tab" role="tabpanel">

          <!-- Titulo contenido -->
          <div class="group">
            <label for="title_content">
              <h4 class="form-section-title">Título *</h4>
            </label>
              <p>Por favor, escribe una denominación del contenido</p>              
              <input class="col-12 form-control" type="text" id="title_content" placeholder="Título" formControlName="title" [class.is-invalid]="invalidTitle" (keyup.enter)="saltaCampo($event,'alineacion')">
              <small *ngIf="invalidTitle" class="text-danger">Campo Obligatorio</small>
          </div>

          <!-- Descripcion contenido -->
          <div class="group">
            <h4 class="form-section-title">Contenido</h4>
            <p>El contenido de la historia es lo que quieres contar, con la ayuda de los distintos gráficos que aporta el portal de Aragon Open Data</p>
            <angular-tinymce id="editorContent" [settings]="settings" formControlName="description"></angular-tinymce>
          </div> 

          <!-- Fuente de datos -->
          <div class="group">
            <h4 class="form-section-title">Fuente de datos</h4>
            <p>
              En este apartado deberás de elegir una fuente de datos del portal de Aragón Open Data, de la cual
              te has apoyado para escribir esta historia. Puedeser un conjunto de datos, una vista del GA_OD_Core,
              una consulta SPARQL o una gráfica utilizando la herramienta de Open Visual Data...etc
            </p>

            <div class="conten-type" *ngFor="let contentType of contentsTypes" id="contents">
              <label class='form-row align-items-center' for="radio" class="ocultar">option</label>
                <input type="radio" [value]='contentType.type' id="radio" formControlName="type_content" (click)="contentForm.controls['visual_content'].reset()"><span>{{contentType.text}}</span> 
              

              <div *ngIf="((contentForm.get('type_content').value==contentType.type)&&(contentForm.get('type_content').value==contentEnum.graph))">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <p *ngIf="contentModel.visual_content && graphTitle" class="form-section-title font-weight-bold">La gráfica seleccionada es: {{graphTitle}}</p>
                    <button class="btn-left btn btn-outline-secondary mb-2" type="button" (click)='openVisualData()'>Abrir Open Visual Data</button>
                  </div>
                </div>
              </div>

              <div *ngIf="((contentForm.get('type_content').value==contentType.type)&&(contentForm.get('type_content').value==contentEnum.youtube))">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label class="sr-only" for="idYoutube">Id del video</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">https://www.youtube.com/watch?=</div>
                      </div>
                      <input type="text" class="form-control" formControlName="visual_content" id="idYoutube" placeholder="Id del video">
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="((contentForm.get('type_content').value==contentType.type)&&(contentForm.get('type_content').value==contentEnum.shareSlides))">
                <div class="form-row align-items-center mb-2">
                  <div class="col-auto">
                    <label class="sr-only" for="idSlideShare">Id de Slide share</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">https://www.slideshare.net/</div>
                      </div>
                      <input type="text" class="form-control" formControlName="visual_content" id="idSlideShare" placeholder="Id del Slide share">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Alineacion -->


          <div class="group">
            <label for="alineacion">
              <h4 class="form-section-title">Alineacion del contenido</h4>
            </label>
            <select class="form-control select-cat1" formControlName="align" id="alineacion">
              <option  *ngFor="let align of alignsTypes" [ngValue]="align.type">{{align.text}}</option>
            </select>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="actions">
    <button type="button" class="btn btn-outline-primary" (click)=closeComponentContent()> Cancelar</button>      
    <button class="btn-left btn btn-primary" type="submit" (click)='saveContent()' [ngClass]="contentForm.invalid ? 'disabled' : '' ">Guardar contenido</button>
  </div>
</form>

