<!-- Stepper -->
<div class="row mb-5 activeDesc" *ngIf="this.router.url === '/selectData'">
    <div class="col-12">
        <p>Crea gráficos y visualizaciones con los datos disponibles en Aragón Open Data:</p>
        <ol>
            <li>Elige datasets con datos en formato .CSV o .PX del Banco de datos (link en ventana nueva) de Aragón Open Data.
            </li>
            <li>Copia la URL del fichero CSV o PX . Apartado Descargas del Banco de Datos, click botón derecho del cursor sobre
                el mismo y opción “Copiar la dirección del enlace” o “Copiar Acceso Directo” según navegador empleado.
            </li>
            <li>Pega la URL a esos ficheros en la caja “Añadir datos” y continúa con los siguientes pasos. </li>
        </ol>
        <p>
            También puedes utilizar las Opciones avanzadas (SPARQL y búsqueda vía API) y siempre ten en cuenta que la creación de gráficos
            dependerá de los datos disponibles tanto de su estructura, contenido y tamaño.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="steps-form-2" *ngIf="correctPageMigas">
            <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
                <div class="col-3 text-center float-left">
                    <div class="steps-step-2 float-left" [routerLink]="['/selectData']" [routerLinkActive]="['activeRoute']">
                        <a type="button" class="btn btn-circle-2">Elige datos abiertos</a>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div class="steps-step-2" [routerLink]="['/previewData']" [routerLinkActive]="['activeRoute']">
                        <a type="button" class="btn btn-circle-2 ml-5">Selecciona</a>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div class="steps-step-2" [routerLink]="['/previewGraph']" [routerLinkActive]="['activeRoute']">
                        <a type="button" class="btn btn-circle-2" style="margin-left: 6rem;">Previsualiza</a>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div class="steps-step-2 float-right" [routerLink]="['/endGraphic', (id | async)]" [routerLinkActive]="['activeRoute']">
                        <a type="button" class="btn btn-circle-2">Crea tu visualizaci&oacute;n</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div *ngIf="correctPageMigas">
    <div class="row">
        <div class="col-3">
            <div class="rarrow" [routerLink]="['/selectData']" [routerLinkActive]="['rarrowseleccion']">
                <span>Elige datos abiertos</span>
            </div>
        </div>
        <div class="col-3">
            <div class="rarrow" [routerLink]="['/previewData']" [routerLinkActive]="['rarrowseleccion']">
                <span>Selecciona</span>
            </div>
        </div>
        <div class="col-3">
            <div class="rarrow" [routerLink]="['/previewGraph']" [routerLinkActive]="['rarrowseleccion']">
                <span>Previsualiza</span>
            </div>
        </div>
        <div class="col-3">
            <div class="rarrow" [routerLink]="['/endGraphic', (id | async)]" [routerLinkActive]="['rarrowseleccion']">
                <span>Crea tu visualizaci&oacute;n</span>
            </div>
        </div>
    </div>
</div>
-->