<div *ngIf="correctPageMigas">
    <div class="row">
        <div class="col-3">
            <div class="rarrow" [routerLink]="['/selectData']" [routerLinkActive]="['rarrowseleccion']">
                <span>Elige datos abiertos</span>
            </div>
        </div>
        <div class="col-3">
            <div class="rarrow" [routerLink]="['/previewData']" [routerLinkActive]="['rarrowseleccion']">
                <span>Selecciona</span>
            </div>
        </div>
        <div class="col-3">
            <div class="rarrow" [routerLink]="['/previewGraph']" [routerLinkActive]="['rarrowseleccion']">
                <span>Previsualiza</span>
            </div>
        </div>
        <div class="col-3">
            <div class="rarrow" [routerLink]="['/endGraphic', (id | async)]" [routerLinkActive]="['rarrowseleccion']">
                <span>Crea tu visualizaci&oacute;n</span>
            </div>
        </div>
    </div>
</div>