.rarrow {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 0px;
  width: 170px;
  border-top: 20px solid #0066cc;
  border-right: 20px solid #0066cc;
  border-bottom: 20px solid #0066cc;
  border-left: 20px solid transparent;
}
.rarrowleft:before {
  content: '';
  display: block;
  border-top: 20px solid transparent;
  border-right: 0px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #0066cc;
  position: relative;
  bottom: 20px;
  left: -20px;
}
.rarrow:after {
  content: '';
  display: inline-block;
  border-top: 20px solid transparent;
  border-right: 0px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #0066cc;
  position: absolute;
  top: -20px;
  left: 150px;
}
.rarrow span {
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: -0.6em;
  left: 22px;
  width: 150px;
}
.rarrowseleccion {
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 0px;
  width: 170px;
  border-top: 20px solid green;
  border-right: 20px solid green;
  border-bottom: 20px solid green;
  border-left: 20px solid transparent;
  z-index: 1;
}
.rarrowseleccion:before {
  content: '';
  display: block;
  border-top: 20px solid transparent;
  border-right: 0px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid green;
  position: relative;
  bottom: 20px;
  left: -20px;
  z-index: 1;
}
.rarrowseleccion:after {
  content: '';
  display: inline-block;
  border-top: 20px solid transparent;
  border-right: 0px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid green;
  position: absolute;
  top: -20px;
  left: 150px;
  z-index: 1;
}
.rarrowseleccion span {
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: -0.6em;
  left: 22px;
  width: 150px;
  z-index: 1;
}
